* {
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

.error {
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 100px;
    height: 100px;
}

.picture_modal {
    border: 2px solid red;
    width: 500px;
    height: 200px;
    margin: auto;
}

.logo {
    width: 200px;
    height: 100px;
}

.profile .avatar {
    width: 400px;
    height: 400px;
}
