* {
    box-sizing: border-box;
}

.error {
    color: red;
}

/* .nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
} */

.avatar {
    width: 80px;
    height: 80px;
}

.picture_modal {
    border: 2px solid red;
    width: 500px;
    height: 200px;
    margin: auto;
}

.profile .avatar {
    width: 264px;
    height: 280px;
}

.messages img {
    width: 50px;
    height: 50px;
}
